
.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #bcdcb6;
  border-top: solid rgb(9, 9, 9);
  border-bottom: solid rgb(9, 9, 9);
  border-width: 1px;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}
.nav-menu {
  flex: 1;
  display: flex;
}

.nav-menu ul {
  flex:1;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.nav-menu li {
  list-style-type: none;
  padding-right: 5%;
  padding-left: 2%;
}
.nav-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.nav_button{
  padding: 20px;
  color: rgb(83, 144, 229);
  font-size: large;
  font-weight: bolder;
  
}
.nav_button:hover {
  background-image: radial-gradient(rgb(225, 235, 237), #bcdcb6 80%);
}

.nav_button_secondary {
  color: rgb(83, 144, 229);
  font-size: medium;
}

.nav_button_secondary:hover {
  color: rgb(59, 105, 169);
}

.table_icons {
  justify-content: space-between;
  align-items: center;
  flex:1;
  display: flex;
}

.table_icon {
  justify-content: space-between;
  align-items: center;
  flex:1;
  display: flex;
}

.table_icon:hover{
  font-size: large;
}

.user_video {
  justify-content: center;
  flex: 1;
  display: flex;
}

.loginContainer{
  padding-top:0;
}
.loginForm {
  margin:0 auto;
  background-color:  #bcdcb6;
  background-position: bottom;
  padding: 20px ;
  padding-top: 20px;
  border-radius: 10px;
  border: rgb(9, 9, 9);
  border-width: 1px;
  border-style:solid;
  width: 30%;
}

.User_Page_Titles {
  padding-top: 20px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #555555;
  transform: scale(2,1.5)
}

.all_gyms{
  justify-content: center;
}

.user_table{
  margin-left: auto;
  margin-right: auto;
}

.Login_btn_container{
  display: flex;
  justify-content: space-between;
}

.main_logo {
  height: 20%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.logo_img{
  width: 20%;
  position: relative;
  left: 13.4%;
  
}

.logo_position{
  justify-content: center;
  position: relative;
  right: 15.8%;
  transform: scale(1.3,2)
  
}

.logo_title{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #555555;
  font-size:4em;
  padding: 20px;
  display: flex;
  justify-content: left;
  ;
}

.employee_home_options{
  display: flex;
  justify-content: space-between;

}

.route_table {
  padding-bottom: 50px;
}

.tableHeaders {
  font-weight: bold;
  display: flex;
}
.tableHeaders:hover {
  font-weight: bolder;
  cursor:context-menu;
}

.table_filter {
  display: flex;
}

.filter_options{
  flex:1;
  padding-right: 8px;
}